
<div class="container">
  
  <div class="row">
    <div class="col-6">
    <form>
        
        <h3>Login Form with Length Validation</h3>
  <div class="form-group">
    <label for="uname">User Name</label>
    <input required minlength="5" ngModel name="uname" #name="ngModel" id="uname" (change)="LogChange(name)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="!name.valid">Enter min length 5.</div>
  </div>
  
  <div class="form-group">
      <label for="cname">College Name</label>
      <input required maxlength="7" ngModel name="cname" #cname="ngModel" id="cname" (change)="LogChange(cname)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="!cname.valid">Enter max length 7.</div>
  </div>
  
      <button type="button"  class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
</div>